<div class="charts"> 
    <div class="line" [chart]="lineCharts">
  
    </div>
    <div class="pie" [chart]="pieCharts">
  
    </div>
</div>

<div class="second-charts">
  <div class="stackLine" [chart]="stackLineCharts"></div>
</div>

<div class="charts">
  <div class="point-line" [chart]="pointLine">
  
  </div>
  <div class="point-2lines" [chart]="point2Lines">
  
  </div>
</div>

<div class="charts">
  <div class="donut" [chart]="donutChart">
  
  </div>
  <!-- <div class="gauge" [chart]="gaugeChart">
  
  </div> -->
</div>

  <!-- <highcharts-chart *ngIf="chartOptions" [Highcharts]="highcharts" [options]="chartOptions"
                    style="height: 100%; width: 100%; display: block;">

  </highcharts-chart> -->
  